body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;

    background: url("../images/pexels-cottonbro-9419395.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

}

.quotes-container {}

.features-container {}

/* Navbar */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar  {
    margin-bottom: 0;
    border: 0;
    width: 100%;
   
}

.navbar navbar-toggler {
    border: 0  ;
}


/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: whitesmoke;
}

.lead {
    color: #696464;
}

/* Block Divider */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #696464;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 40px;
    width: 160px;
    
}

.btn--red {
    color: white;
    background-color: #696464;
    border-color: #696464;

}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    background-color: #971818;
    border-color: #696464;
}

